<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="omr.mapper">
<select id="test" resultType="test.TestVO">
	select * from teama_test_${subjectName}
</select>
<select id="result" resultType="test.TestVO">	
  	select * from ${subjectName}
</select>
<insert id="insert" parameterType="test.ResultVO">
	insert into teama_candidate 
	values(CANDIDATE_NUM = #{CANDIDATE_NUM}, CANDIDATE_TEST_NAME=#{subjectName}, CANDIDATE_GET_RIGHT=#{CANDIDATE_GET_RIGHT})
</insert>
 <select id="listQuestion" resultType="test.TestVO">
  	select * from teama_test_${test_name}
  </select>
  
  <select id="searchQuestion" resultType="test.TestVO">
   	select * from teama_test_${test_name} where test_num = ${test_num}

  </select>
  <delete id="delete" parameterType="HashMap">
  	delete from ${subject} where TEST_NUM = ${pnum}
  </delete>
</mapper>